.xgphone-warp{
  width: 1000px;
  float: left;
  margin-left: 20px;
  min-height: 700px;
  .lebal{
    margin-left: 0px;
    >span{
      width: 100px;
      float: left;
      margin-right: 20px;
      line-height: 42px;
      font-size:16px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(102,102,102,1);
    }
    .ant-select-selection--single{
      width: 340px;
    }
  }
  .ant-btn-primary{
      span{
        width: 100%;
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
      }
  }
  p{
    margin: 0;
    padding: 0;
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    padding-left: 10px;
    color:rgba(229,63,57,1);
    margin-left: 160px;
    line-height: 15px;
    height: 12px;
  }
}
.szemial{
 .cengdlk-wgr{
   margin-top: 25px;
 }
}
.ant-btn.disabled, .ant-btn[disabled]{
  color: #999999;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  text-shadow: none;
}