@import "../../../styles/themes.scss";
.chart-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 38px;
    box-sizing: border-box;
}
.box-title {
    position: absolute;
    left: 0;
    top: 0px;
    color: #E1E9FA;
    width: 100%;
    padding-left: 10px;
    cursor: move;
    border-bottom: 1px solid #2F3746;
    height: 38px;
    line-height: 38px;
}
#tv_chart_container {
    // border-radius: 4px;
    width: 100%;
    height: 100%;
    // border: 1px solid;
    // @include themify($themes) {
    //     border-color: themed('border-color-1');
    // }
}