


.sices-warp{
  width: 100%;
  min-width: 1210px;
  background-color: #131926;
  .tiole{
    font-size:20px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(218,226,242,1);
    margin-top: 68px;
    text-align: center;
  }
  .c2cjioaiyisj{
    width: 100%;
    height: 116px;
    background-color: #0b1426;
    .c3ctiaozhuan_box{
      height: 80px;
      width: 700px;
      margin: 0 auto;
      color: #fff;
      padding-top: 22px;
      .left{
        float: left;
        text-align: right;
        margin-right: 10px;
        font-size: 18px;
        .lefttext{
          font-size: 12px;
          color: #9aaadb;
        }
      }
      .right{
        float: left;
        width: 520px;
        display: flex;
        .ant-btn-primary{
          margin: 0;
          height:44px ;
          width: 150px;
          span{
            font-size: 16px ;
            color: #fff;
          }
        }
        .ant-input-lg{
          height: 44px;
          line-height: 44px;
        }
        .ant-input{
          // text-align: right;
          padding-right: 54px;
        }
      }
    }

    
  }
  .jiaoyiwss_box{
    width: 100%;
    // height: 490px;
    background-color: #131926;
    padding-bottom: 92px;
    .ant-btn{
      background: transparent;
      color: #26994e;
      border-color: #747b88;
    }
    .ant-btn:hover{
      background:#26994e;
      color: #fff;
    }

    .cneten_box{
      width: 1200px;
      margin: 0 auto;
      // overflow: hidden;
    }
   
    .cow_box{
      // display: flex;
      // border: 1px solid #363D4D;
      // border-radius: 16px;
      // height: 192px;
      color:#7A8599 ;
      // padding: 21px 0;
      .cow_box_title{
        display: flex;
        width: 100%;
        border-bottom: 1px solid #7A8599;
        .tr{
          padding: 10px 10px;
        }
      }
      .instrument{
        cursor:pointer;
        width: 100%;
        text-align: left;
        font-size:16px;
        line-height: 66px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:rgba(122,133,153,1);
        display: flex;
        .tr{
          padding: 0px 10px;
        }
      }
      .instrument:nth-child(2n){
        background-color: #131926;
      }
      .instrument:nth-last-child(2n-1){
        background-color: #101724;
       
      }
      .instrument:hover{
        // transform: scale(1.1);
        // border: 1px solid ;
        animation: instrument 0.5s forwards;
        box-shadow: 0px 0px 3px 1px rgba(89,137,233,0.3);
      }

      
      // 定义动画fade与show
      @keyframes instrument {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.1);
        }
      }
      
    }
  }
  .sices-warp-box{
    position: relative;
    width: 100%;
  
    .echart-box{
      background-color:rgba(0,0,0,0.2);
      position: absolute;
      width: 100%;
      bottom: 0px;
      left: 0;
      z-index: 33;
      padding: 10px 0;
      .sange-box{
        width: 1190px;
        margin: 0 auto;
        display: flex;
        flex-direction: inherit;
        justify-content: space-between;
        .liwu{
          background-color: red;
          width:390px;
          height:160px;
          background:rgba(18,23,38,0.5);
          border-radius:8px;
          font-size:24px;
          font-family:Microsoft YaHei;
          font-weight:400;
          color: #fff;
          .top-box{
            height: 92px;
            padding-left: 19px;
            padding-top: 20px;
            padding-right: 50px;
            overflow: hidden;
            .left-box{
              float: left;
            }
            .right-box{
              float:right;
            }
          }
        }
      }
    }


    .vidage {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
       width: 100%;
        height: 100%;
        z-index: 1;
        .img_gb_png{
          position: absolute;
          bottom: 0;
          left: 56%;
          animation: imgbgpng 5s infinite;
        }
        @keyframes imgbgpng {
          100% {
            bottom: 0;
          }
          50%{
            bottom: 20px;
          }
          0% {
            bottom: 0px;
          }
        }
       
    }

    .img-box{
      position: absolute;
      z-index: 2;
      width: 100%;
      min-width: 1200px;
      height: 398px;
      .tongzhilan{
        width: 1200px;
        margin: 0 auto;
        position: relative;
        bottom: 38px;
        left: 0;
        color: #F5F5F5;
        margin-top: 8px;
        z-index: 999;
        height: 20px;
        text-align: center;
        display: flex;
       justify-content: center;
        .tongzhilangg{
          padding: 0 20px;
          border-left: 1px solid #FFFFFF;
        }
        .tongzhilangg:nth-child(1){
          border-left:none;
        }
        img{
          margin-left: 22px;
          margin-right: 10px;
          display: inline-block;
        }
      }
      .hezi{
        width: 1200px;
        height: 398px;
        margin: 0 auto;
        position: relative;
        .hezi-left{
          float: left;
          height: 398px;
          display: flex;
          flex-direction: column;
          .x{
            width:586px;
            font-size:52px;
            font-family:Microsoft YaHei;
            font-weight:400;
            color:#fff;
            margin-top: 141px;
            line-height: 60px;
          }
          .g{
            width:575px;
            font-size:22px;
            font-family:Microsoft YaHei;
            font-weight:400;
            margin-top: 30px;
            color:#fff;
            line-height: 32px;
          }
          .b{
            position: absolute;
            bottom: 52px;
            left: 0;
        
            .ant-btn{
              width:257px;
              height: 50px;
              background:rgba(47,111,237,1);
              border-radius:4px;
              border-color: rgba(47,111,237,1);
              font-size:20px;
              font-family:Microsoft YaHei;
              font-weight:400;
              color:#fff;
            }
          }
        }
        .hezi-right{
          float:right;
          margin-top: 141px;
          width:320px;
          height:310px;
          background:rgba(0,0,0,.5);
          border-radius:4px;
          .ant-tabs-bar{
            border-bottom: 1px solid  #121726;
          }
          .ant-tabs{
            font-size:16px;
            font-family:Microsoft YaHei;
            font-weight:400;
            color:rgba(212,225,250,1);
          }
          .ant-input-group-addon{
            font-size:16px;
            font-family:Microsoft YaHei;
            font-weight:400;
            background-color: #121726;
            border-color: #121726;
          }
          .ant-select{
            color:rgba(212,225,250,1);

          }
          .anticon{
            color:#2F62ED;
          }
          .ant-input{
            color:#8A8F99;
            background-color: #121726;
            border-color: #121726 !important;
          }
          .ant-btn-primary{
            width:300px;
            float: left;
            height:42px;
            background:rgba(47,111,237,1);
            border-radius:4px;
            span{
              font-size:16px;
              font-family:Microsoft YaHei;
              font-weight:400;
              color:rgba(255,255,255,1);
              line-height:16px;
            }
          }
          .foot-lognphone{
            margin-top: -9px;
          }
          .tit{
            text-align: center;
            line-height: 54px;
            font-size:24px;
            font-family:SimHei;
            font-weight:400;
            color:rgba(212,225,250,1);
          background:rgba(18,23,38,1);
          }
          .sices-tabs-box{
            width: 280px;
            padding-top: 31px;
            .form-boxss{

                .login-warp-email:nth-child(1){
                  .ant-input{
                    width: 180px !important;
                  }
              }
            }
            // width: 300px;
            margin: 0 auto;
      
            .ant-select-selection{
              background-color: #121726;
              border-color: #121726;
            }
            .ant-select-dropdown-menu-item{
              background-color: #121726;
              border-color: #121726;
            }
            .ant-select ant-select-enabled{
            width: 110px !important;
            }
          .ant-btn-primary{
            margin-top: 0px !important;
            width: 280px !important;
          }

          }
        }
      }
    }
  }
  .bottom-box{
    width: 100%;
    // #2F6FED
    background:#0B1426;
    color:#7A8599;
    text-align: center;
    padding-bottom: 45px;
    .flacol{
      width:1200px;
      margin: 0 auto;
      .cow{
        width: 350px;
        margin-top: 90px;
        float: left;
        margin-right: 50px;
        .span-tit{
          font-size:36px;
          font-family:Microsoft YaHei;
          font-weight:400;
          color: #2F6FED;
                 }
        .span-cos-1{
          font-size:16px;
          font-family:Microsoft YaHei;
          font-weight:400;
          color:#7A8599;
        }
      }
    }
  }
  .footlogin_box{
    width: 100%;
    height: 430px;
    background-color: #081226;
    .footlogin_box_warp{
      width: 1200px;
      text-align: center;
      margin: 0 auto;
      overflow: hidden;
    }
    .tiole{
      margin-bottom: 10px;
    }
    .min_liang{
      font-size:20px;
      font-family:Microsoft YaHei;
      font-weight:400;
      color:rgba(122,133,153,1);
    }
    .input_box{
      margin-top: 79px;
      display: flex;
      justify-content: center;
      .ant-btn-primary span{
        font-size: 20px;
        width: auto;
      }
      .ant-input{
        background-color: #081226;
        border-color: #7A8599 !important;
        color: #C3CAD9;
        font-size:20px;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */ 
        color: #7A8599 ;
        font-size: 20px;
      }
      .ant-input:focus{
        border-color: #40a9ff !important;
      }
    }

  }
  .footdkdkdk{
    width: 100%;
    height: 560px;
    background:#121726;
    overflow: hidden;
    .warp_img_se{
      width: 1155px;
      margin: 0 auto;
      display: flex;
      padding-top: 102px;
    }
    .img_box_sices{
      margin-left: 100px;
    }
    .toofot{
      overflow: hidden;
      display: flex;
      flex-direction: column;
      .left{
        float: left;
        width: 380px;
      }
      .right{
        width: 380px;
        padding-top: 80px;
        float: left;
      }
      .capsn-1{
        font-size:32px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:#DAE2F2;
      }
      .capsn-2{
        margin-top: 5px;
        font-size:18px;
        font-family:Microsoft YaHei;
        font-weight:400;
        color:#7A8599;
      }
   
    }
    .imgclear{
      // width: 280px;
      margin: 0 auto;
      font-size:18px;
      // margin-top: 58px;
      font-family:Microsoft YaHei;
      font-weight:400;
      color:rgba(191,191,191,1);
      >div{
        float: left;
      }
      .imga{
        margin-left: 45px;
        margin-bottom: 32px;
        color: #2F6FED;
        img{
          float: left;
          margin-right: 14px;
        }
        a{float: left;      color: #2F6FED;}
        }
      }
  
  }
 
}

.ios_Download{
  color:  #bfbfbf;
}


.canvas_bg_xx{
  width: 100%;
  height:398px;
  font: 14px Microsoft YaHei;
  -webkit-text-size-adjust: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
}
#canvass {
  width: 100% ;
  height: 100%;
  display: block;
  opacity: 0.8;
}



.demo {
  width: 200px;
  height: 200px;
  background-color: red;
}

// 定义进出入动画
.demo-showing {
  animation: show 0.5s forwards;
}
.demo-fading {
  animation: fade 0.5s forwards;
}

// 定义动画fade与show
@keyframes show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fade {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}
