
.reinfrom-warp{

  .ant-input-group-addon {
    height: 42px;
    width: 110px;
    margin-right: 10px;
    border-radius: 4px;
    border:1px solid #d9d9d9;
  }
  .ant-input-group .ant-input{
    width: 218px;
    height: 42px ;
    border-radius: 4px;
    margin-left: 10px;
  }
  #components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  
  }
  .re{
    color: #999999;
  }

}
    .ant-select-selection-selected-value{
      line-height: 42px !important;
    }


.ant-select-selection--single {
  height: 42px;
  width: 110px;
  float: left;
  line-height: 42px;
}
.but00018{
   .ant-btn-primary{
    margin-right: 0 !important;
  }
  >span{
    width: 100% !important;
  }
}
.tijiaoyici{
  .ant-tabs-tabpane{
    .ant-btn{
      span{
        font-size: 14px !important;
        font-family: MicrosoftYaHei !important;
      }
    }
  }
}