.ant-table-placeholder{
  display: none;
}
.security-warp-fu{
  .ant-table-tbody{
    font-size: 16px;
  }
  width: 1000px;
  float: left;
  .content-securityeee{
    margin-top: 30px;
    .h3-gerenz{
      font-size:18px;
      font-family:MicrosoftYaHei-Bold;
      font-weight:bold;
      color:rgba(0,0,0,1);
    }
    .span-gerrenz{
      font-size:16px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(51,51,51,1);
      margin-top: 15px;
    }
    .div-gerenz{
      margin-top: 30px;

      .hezi-gerenz{
        float: left;
        width: 150px;height: 150px;
        background:rgba(250,250,250,1);
        .p-gerenzimg{
          width:50px;
          height:50px;
          background:rgba(229,238,255,1);
          border-radius:50%;
          margin-left: 50px;
          margin-top: 15px;
        }
        .p-xingmname{
          text-align: center;
          font-size:16px;
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(51,51,51,1);
          margin-bottom: 5px;
          margin-top: 4px;
        }
        .p-xingmnames{
          text-align: center;
          font-size:14px;
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(102,102,102,1);
        }
      }
    }
  }
  .anquanrenz{
    margin-top: 60px;
    .li-tablegezi{
      margin-left: 20px;
      height: 68px;
      overflow: hidden;
      border-bottom:1px solid #EBEBEB;
      display: flex;
      align-items: center;
      .tou{
        width: 110px;
        text-align: center;
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(51,51,51,1);
      }
      .yanzheng{
        width: 100px;
        text-align: center;
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(191,191,191,1);
      }
    
      .content{
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(102,102,102,1);
        width: 480px;
        overflow: hidden;
        >span{
          margin-top: 12px;
          float: left;
          margin-right: 10px;
          width:50px;
          height:4px;
          background:rgba(255,167,166,1);
          border-radius:2px;
        }
        >div{
          display: inline-block;
          text-align: center;
          background:rgba(253,239,239,1);
          font-size:12px;
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(255,167,166,1);
          line-height: 25px;
          margin-left: 10px;
          padding: 0 5px;
          // position: absolute;
        }
        .l {
          background:rgba(245,245,245,1);    
            }
      }
      .but{
        flex: 1;
        .phoneSpan{
          font-size:16px;
          font-family:Microsoft YaHei;
          font-weight:400;
          color:rgba(51,51,51,1);
        }
        .list{
          width: 1px;
          height: 30px;
          background:rgba(230,230,230,1);margin-left: 30px;
          margin-top: 24px;
        }
        .ant-btn {
          line-height: 1 !important;
        }
        // .ant-btn-primary:nth-of-type(2){
        //   background-color: #1890ff;
        //   border-color: #1890ff;
        // }
        .ant-btn-primary:hover, .ant-btn-primary:focus {
          color: #fff;
          background-color: #40a9ff;
          border-color: #40a9ff;
      }
      
      }
  }
}
  .zuijindengl{
    margin-top: 60px;
    margin-bottom: 55px;
  }
  th{
    background-color: #fff !important;
    font-size:16px !important;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(51,51,51,1);
  }
}
.ant-btn.disabled, .ant-btn[disabled]{
  color: #999999;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  text-shadow: none;
}