.huazhuan-warp{

  width: 100%;
  .asset-title>h1{
    width: 100%;
    font-size:20px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold !important;
    color:rgba(0,0,0,1);
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px;
    padding-left: 8px;
    
  }
  .chongbi-content{
   
    margin-top: 24px;
    padding-left: 10px;
    .ant-table-thead > tr:nth-child(1){
      color: #6ff !important;
    }
  
    >.chongbi-p{
      position: relative;
      margin-bottom: 12px;
   
      p{
        text-align: right;
        margin-right: 20px;
        float: left;
        line-height: 42px;
        display: inline-block;
        width: 90px;
        font-size:16px;
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(102,102,102,1);

      }
    }
    .p1{
      .ant-select-selection--single{
        width: 340px ;
        height: 42px ;
      }
    }
    .ant-select-selection--single{
      width: 130px ;
      height: 42px ;
    }
    .ant-select-selection__rendered{
      line-height: 42px;
    }
  }


  .chongbi-span-huazhuan{
    display: inline-block;
    width: 80px;
    font-size:14px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(153,153,153,1);
    text-align: center;
    line-height: 42px;
  }
  .kkkz{
    margin-left: 110px !important;
    margin-top: -7px;
    color: #999999;
  }
  .span-quanbu{
    display: inline-block;
    margin-left: 25px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(47,111,237,1);
    margin-bottom: 15px;
  }
  .ant-btn-primary{
    float: left;
    width: 220px;
    margin-left: 110px;
    width: 340px;
  }
  .tble-box{
      margin-bottom: 50px;
      padding-bottom: 1px;
      margin-top: 60px;
      .tble-span-title{
        font-size:18px;
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        color:rgba(0,0,0,1);
      }

      //标题
      .ant-table-column-title{
        color:#999;
      }
  }
}
.huazhuan-table-tr{
  font-size:14px;
  font-family:MicrosoftYaHei;
  font-weight:400;
  color:rgba(51,51,51,1);

}
.ant-btn.disabled, .ant-btn[disabled]{
  color: #999999;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  text-shadow: none;
}