

.placeorder_warp{
  height: 100%;

  .h1_title{
    height: 40px;
    line-height: 40px;
    font-size:14px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(225,233,250,1);
    border-bottom: 1px solid #2F3746;
    padding-left: 13px;
    position: relative;
    .feilv_box{
      position: absolute;
      right: 20px;
      top: 0;
      cursor: pointer;
      .fuhoa{
        display: inline-block;
        width: 16px;
        height: 16px;
        background-color: #2f6fe2;
        line-height: 1;
        border-radius: 2px;
        text-align: center;
        font-size: 14px;
        line-height: 14px;
      }
    .feilv{
      font-size: 14px;
      margin-left: 5px;
      color: #2f6fe2;
    }

    .tankuang_box{
      width: 430px;
      height: 30px;
      position: absolute;
      top: -28px;
      right: -11px;
      display: none;
      .tankuang_box_b{
// width: 278px;
height: 30px;
background-color: #fff;
border-radius: 5px;
position: absolute;
top: 0px;
right: 0px;
color: #333;
line-height: 30px;
padding: 0 11px;

      }
      .fee{
        color: #2F6FE2;
        margin-left: 10px;
        text-decoration: underline;
        font-family:Microsoft YaHei;

      }
    }
    }
    .feilv_box:hover {
      .tankuang_box{
        display: block;
      }
    }
  }
.content_boxq{
  display: flex;
}
.foot_box{
  line-height: 55px;
  color: #898e98;
}
// 单个样式
  .single_warp{
    width: 50%;
    // height: 100%;
    // background: red;
    padding: 0px 20px;
    .xiaotitle{
      font-size: 12px;
      line-height: 45px;
      .kyye_box{
        color: #898E98;
        float: left;
      }
      .data_box_span{
        color: #E1E9FA;
        font-size: 14px;
        float: left;
        margin-left: 15px;
      }
      .but_huazhuan{
        cursor: pointer;
        float: right;
        font-size:12px;
        font-family:Microsoft YaHei;
        font-weight:bold;
        color:rgba(47,111,237,1);
      }
    }
    .login-warp-email .input-boxs .ant-input{
      text-align: right;
      height: 32px;
      background:rgba(15,21,38,1);
      color: #fff;
    }
    .ant-input-affix-wrapper .ant-input:not(:last-child){
      padding-right: 66px;
    }
    .ant-input-affix-wrapper .ant-input:not(:first-child){
      padding-left: 94px;
    }
    .tooltip-001{
      color: #898e98;
    }
    .ant-input-prefix{
      color: #898e98;
    }
    // 滑动条样式
      .ant-slider-step {
        background: #2f3746;
      }
    .ant-slider-dot {
      background: rgba(24,30,48,1);
      border: 2px solid rgba(61,75,102,1);
    }
    .ant-slider-handle {
      background: rgba(24,30,48,1);
      border: 2px solid rgba(38,153,78,1);
    }
     .tishicuowu {
      height: 15px;
    }
    .ant-slider {
      margin: 5px 6px 38px;
    }
    .ant-btn-primary {
      margin-right: 0px; 
      width: 100%;
  }


  .userInfowei{
    width: 100%;
    background: #0f1526;
    border-radius: 4px;
    line-height: 40px;
    display: flex;
    color: #fff;
    justify-content: center;
    .userInfowei1{
      color: #2f6fed;
      cursor: pointer;
    }
  }
  }
  .ant-input:focus{
    border-color: #40a9ff !important;
  }
}