.Yongxu-warp{
  width: 100%;
  .asset-title>h1{
    width: 100%;
    font-size:20px;
    font-family:MicrosoftYaHei-Bold;
    font-weight:900;
    color:rgba(0,0,0,1);
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 10px;
    padding-left: 8px;
  }
  .ant-table-column-title{
    color:#999;
  }
  .box-a{
    width:350px;
    height:120px;
    background:rgba(255,255,255,1);
    box-shadow:0px 0px 10px 0px rgba(163,127,255,0.3);
    border-radius:8px;
    margin-top: 30px;
    margin-bottom: 60px;
    .title{
      padding-left: 20px;
      width:350px;
      line-height:42px;
      background:rgba(246,242,255,1);
      font-size:16px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(46,107,230,1);
    }
    .content{
      line-height: 78px;
      padding-left: 20px;
      font-size:20px;
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(51,51,51,1);
      :nth-child(2){
        display: inline-block;
        margin-left: 10px;
        font-size:16px;

      }
    }
  }
}