.xgzjpass-wrap{
    .cengdlk-wgr{
      .lebal:nth-child(1){
        margin-top: 24px;
      }
      .lebal{
        margin-bottom: 12px;
      }
    }
    .ant-btn.disabled, .ant-btn[disabled]{
      color: #999999;
      background-color: #d9d9d9;
      border-color: #d9d9d9;
      text-shadow: none;
    }
}