@import "../../../styles/themes.scss";
.bbentrust_warp{
  margin-top: 20px;
  .title_nav{
    display: flex;
    line-height: 28px;
    margin-bottom: 30px;
    .two_box{
      margin-left: 10px;
      height: 28px;
      margin-top: 2px;
      display: flex;
      align-items: center;
      position: relative;
      .ant-radio-button-wrapper{
        height: 28px;
        margin-top: 2px;
        line-height: 28px;
      }
      .ant-input{
        line-height: 28px;
        height: 28px;
        margin-top: 2px;
      }
      .inputsll{
        position: relative;
        font-size:12px;
        font-family:Microsoft YaHei;
        font-weight:400;
  
        border: 1px solid #d9d9d9;
        @include themify($themes) {
          background-color: themed('background-color-1');
        }
        border-color: #d1d1d1;
        @include themify($themes) {
          color: themed('color-13');
        }
        width: 120px;
        height: 100%;
        box-sizing:border-box;
        border-radius: 4px;
        padding-left: 10px;
        line-height: 28px;
        img{
          position: absolute;
          right: 11px;
          top: 6px;
          width: 11px;
          height: 14px;
        }
        .inpusll-wawrp{
          border: 1px solid #fff;
          @include themify($themes) {
            background-color: themed('background-color-1');
          }
          @include themify($themes) {
            border-color: themed('border-color-5');
          }
          @include themify($themes) {
            color: themed('color-13');
          }
          position: absolute;
          bottom: -175px;
          left: 0;
          width: 400px;
          display: flex;
          flex-direction: row;
          height: 172px;
          border-radius: 4px;
          z-index: 999;
          // position: absolute;
          // bottom: -236px;
          // left: 0;  
          // width: 500px;
          // display: flex;
          // flex-direction: row;
          // height: 231px;
          // border-radius:4px;
          // z-index: 999;
             .wawrp-li{
            box-sizing:border-box;
            width: 100px;
            height: 100%;
            border-right:1px solid #EDF2FA;
            @include themify($themes) {
              border-color: themed('border-color-5');
            }
            p{
              font-size:12px;
              font-family:Microsoft YaHei;
              font-weight:400;
              color:rgba(191,191,191,1);
              padding-left: 10px;
            }
            li{
              cursor:pointer;
              padding-left: 10px;
              font-size:12px;
              font-family:Microsoft YaHei;
              font-weight:400;
              @include themify($themes) {
                color: themed('color-9');
              }
              line-height: 28px;
            }
            li:hover{
              background:rgba(237,242,250,1);
              @include themify($themes) {
                background-color: themed('background-color-12');
              }
             
            }
          }
        }
      }
    }
    .one_box{
      display: flex;
      align-items: center;
    }
    .sanpanbox{
      margin-right: 13px;
    }
    .ant-select-selection--single{
      height: 28px;
      line-height: 28px;
    }
    .ant-select-selection-selected-value{
      line-height: 28px !important;
    }
  }
  .ant-table-thead > tr > th{

    @include themify($themes) {
      border-color: themed('border-color-1');
     }
    @include themify($themes) {
      color: themed('color-3');
     }
    @include themify($themes) {
      background-color: themed('background-color-3');
     }
  }
  .ant-table-tbody > tr > td{
    div{
      font-size: 12px !important;
      @include themify($themes) {
        color: themed('color-9');
      }
      
    }
  
  }
  // inpusll-wawrp
  .ant-table-thead > tr > th,.ant-table-tbody > tr > td{
    line-height: 1.5;
    div{
      span{
        font-size: 12px !important;
        @include themify($themes) {
          color: themed('color-3');
        }
      }
    }
    padding:14px 10px ;
 
    @include themify($themes) {
      border-color: themed('border-color-1');
     }
  }
  .ant-table-thead > tr > th{
    padding: 8px 10px;
  }
  .dibujiazai{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #2e6be6;
    cursor: pointer;
  }
}